.header {
  display: flex;
  justify-content: flex-start;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 125px;
  box-shadow: 0px 0px 20px 5px #daa520;
  margin-bottom: 3%;
  background-color: black;
}

.title-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 40%;
  font-size: 2vw;
}

.nav-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10%;
  font-size: 2vw;
}

.header-title {
  text-decoration: none;
  color: #daa520;
}

.header-link, .counter {
  text-decoration: none;
  padding-left: 60px;
  color: #daa520;
}

.counter {
  font-size: 4vw;
}
