.header {
  display: flex;
  justify-content: flex-start;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  text-decoration: none;
  width: 40%;
  font-size: 2vw;
}

.nav-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15%;
  font-size: 2vw;
}

.header-title {
  text-decoration: none;
  color: #daa520;
}

.header-link {
  text-decoration: none;
  padding-left: 60px;
  color: #daa520;
}
