.header {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
  /* background-image: url(https://i.pinimg.com/originals/35/bd/a4/35bda4d45adedb6e097dc3038f937117.jpg); */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  text-decoration: none;
  width: 40%;
  font-size: 2vw;
}

.nav-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15%;
  font-size: 2vw;
}

.link {
  text-decoration: none;
  color: #daa520;
}
