body {
  font-family: 'Bilbo', cursive;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images4.alphacoders.com/843/thumb-1920-84316.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 1.4vw;
  height: 100%;
}

